<!doctype html>
<html>
    <head>
        <title>Filter !</title>
    </head>
    <body>
        <h1>Filterons</h1>
        <p>===========================================================</p>
        <p>Il y a 3 principaux filtres :</p>
        <p>1: En fonction de la valeur de la propriété (Example : état : disponible)</p>
        <p>2: En fonction, de l'ordre de output (décroissant / croissant)</p>
        <p>3: Et en fonction, du nombre de résultat que vous voulez voir affiché</p>
        <p>===========================================================</p>
        <form method="POST" action="/filter">
            <button type="submit"></button>
        </form>
    </body>
</html>