<!doctype html>
<html>
    <head>
        <title>Insert !</title>
    </head>
    <body>
        <h1>Insertons</h1>
        <form method="POST" action="/insert">
            <input type="text" name="nom" placeholder="nom">
            <input type="text" name="état" placeholder="disponible ou indisponible">
            <input type="text" name="type_pc" placeholder="gamer ou bureau">
            <input type="text" name="type_experience" placeholder="xp ou pasxp">
            <input type="text" name="portabilité" placeholder="fixe ou portable">
            <input type="text" name="date" placeholder="YYYY-MM-DD HH:mm:ss">
            <button type="submit"></button>
        </form>
    </body>
</html>