<!doctype html>
<html>
    <head>
        <title>Insert !</title>
    </head>
    <body>
        <h1>Insertons</h1>
        <form method="POST" action="/insert">
            <input type="text" name="nom" placeholder="nom">
            <select name="état" type="text">
                <option value="disponible">disponible</option>
                <option value="indisponible">indisponible</option>
            </select>
            <select name="type_pc" type="text">
                <option value="gamer">gamer</option>
                <option value="bureautique">bureautique</option>
            </select>
            <select name="type_experience" type="text">
                <option value="xp">xp</option>
                <option value="pasxp">pasxp</option>
            </select>
            <select name="portabilité" type="text">
                <option value="fixe">fixe</option>
                <option value="portable">portable</option>
            </select>
            <input type="text" name="date" placeholder="YYYY-MM-DD HH:mm:ss">
            <button type="submit"></button>
        </form>
    </body>
</html>